.header {
  display: flex;
  justify-content: center;
}


.info-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


.wrapper {
  width: 80%;
  margin: 0 10%;
}

#circle {
  border-radius: 50%;
  width: 100px;
}
